<app-header />
<main>
    <ul id="users">
        <!-- for older versions of Angular we use *ngFor instead of for and ngIf for if -->
        @for (u of user; track u.id) {
          <li>
              <app-user [users]="u" [selected]="u.id === selectedUserId" (select)="onSelectUser($event)" />
          </li>
        }
    </ul>
    @if (selectedUser) {
        <app-tasks [userId]="selectedUser.id" [userName]="selectedUser.name" /> 
    }@else {
        <p id="fallback">Please select a user to see their tasks.</p>
    }
</main>